@{
    ViewData["Title"] = "Đổi mật khẩu";
}
@model PasswordModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {
    public string GetAntiXsrfRequestTokenChild()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<main class="max-w-4xl w-full mx-auto mt-10 mb-20 bg-white rounded-2xl shadow-lg p-8 text-center relative">

    <!-- Background -->
    <div class="z-[-1] fixed inset-0 bg-cover bg-center
        bg-[url('/img/background.jpg')]
        bg-black/40 bg-blend-darken">
    </div>

    <!-- Fireworks -->
    @* <canvas id="fireworksCanvas" class="absolute top-0 left-0 w-full h-full pointer-events-none z-0"></canvas> *@

    <h3 class="text-lg font-semibold text-center text-gray-600 mb-6">Đổi mật khẩu</h3>

    <!-- Form  -->
    <form class="text-left mx-auto max-w-xl space-y-4" id="formUser" method="post">
        <div class="relative">
            <label for="OldPasswordInput" class="block text-sm font-medium text-gray-700 mb-1">Mật khẩu hiện tại <span class="text-red-500">*</span></label>
            <input id="OldPasswordInput" type="password" asp-for="OldPassword" required placeholder="Nhập mật khẩu"
                   class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:ring-2 focus:ring-blue-500 focus:outline-none pr-10" />
            <button type="button" id="toggleOldPassword" class="absolute right-2 top-1/2 transform-translate-y-1/2 text-gray-500">
                <i class="fas fa-eye"></i>
            </button>
        </div>

        <div class="flex">
            <div class="relative mr-2 w-1/2">
                <label for="Password" class="block text-sm font-medium text-gray-700 mb-1">Mật khẩu mới<span class="text-red-500">*</span></label>
                <input id="Password" id="Password" type="password" asp-for="NewPassword" required placeholder="Nhập mật khẩu"
                       class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:ring-2 focus:ring-blue-500 focus:outline-none pr-10" />
                <button type="button" id="togglePassword" class="absolute right-2 top-8 transform-translate-y-1/2 text-gray-500">
                    <i class="fas fa-eye"></i>
                </button>
                <p id="passwordHelp" class="text-sm text-red-500 mt-1 hidden">
                    Mật khẩu phải có ít nhất 8 ký tự, gồm chữ hoa, chữ thường, số và ký tự đặc biệt.
                </p>
            </div>

            <div class="relative ml-2 w-1/2">
                <label for="PasswordConfirm" class="block text-sm font-medium text-gray-700 mb-1">Nhập lại mật khẩu <span class="text-red-500">*</span></label>
                <input type="password" id="PasswordConfirm" asp-for="ConfirmNewPassword" required placeholder="Nhập lại mật khẩu"
                       class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:ring-2 focus:ring-blue-500 focus:outline-none pr-10" />
                <button type="button" id="togglePasswordConfirm" class="absolute right-2 top-8 transform-translate-y-1/2 text-gray-500">
                    <i class="fas fa-eye"></i>
                </button>
                <p id="confirmError" class="text-sm text-red-500 mt-1 hidden">
                    Mật khẩu xác thực không trùng khớp
                </p>
            </div>
        </div>


        <div class="flex justify-center gap-4">
            <button type="button" onclick="update()"
                    class="bg-blue-600 hover:bg-blue-400 text-white px-6 py-2 rounded-lg shadow-md transition">
                Lưu thay đổi
            </button>

            <button type="button" onclick="window.location.href='/'"
                    class="bg-gray-600 hover:bg-gray-400 text-white px-6 py-2 rounded-lg shadow-md transition">
                Trờ về
            </button>
        </div>
    </form>

</main>

<script>
    const oldPassword = document.getElementById("OldPasswordInput");
    const password = document.getElementById("Password");
    const confirmPassword = document.getElementById("PasswordConfirm");

    const passwordHelp = document.getElementById("passwordHelp");
    const confirmError = document.getElementById("confirmError");
    function validatePassword() {
      const regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{8,}$/;
      const valid = regex.test(password.value);
      passwordHelp.classList.toggle("hidden", valid);
      return valid;
    }

    function validateConfirm() {
      const match = password.value === confirmPassword.value;
      confirmError.classList.toggle("hidden", match);
      return match;
    }

    password.addEventListener("input", validatePassword);
    confirmPassword.addEventListener("input", validateConfirm);


    const toggleOldPassword = document.getElementById('toggleOldPassword');
    const iconOld = toggleOldPassword.querySelector('i');

    const togglePassword = document.getElementById('togglePassword');
    const icon = togglePassword.querySelector('i');

    const toggleConfirmPassword = document.getElementById('togglePasswordConfirm');
    const iconConfirm = toggleConfirmPassword.querySelector('i');

    setToggle(toggleOldPassword,oldPassword,iconOld);
    setToggle(togglePassword,password,icon);
    setToggle(toggleConfirmPassword,confirmPassword,iconConfirm);

    function setToggle(toggle,passwordInput,icon1){
        toggle.addEventListener('click', () => {
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);

            icon1.classList.toggle('fa-eye');
            icon1.classList.toggle('fa-eye-slash');
        });
    }


    function update() {
        validatePassword();
        validateConfirm();
        let formData = {
            OldPassword: $('#OldPasswordInput').val(),
            NewPassword: $('#Password').val(),
            ConfirmNewPassword: $('#PasswordConfirm').val()
        };
        //console.log(formData);

        submitAjax({
            url: "/tai-khoan/doi-mat-khau",
            method: "POST",
            data: formData,
            headers:{
                "RequestVerificationToken": '@GetAntiXsrfRequestTokenChild()'
            },
            success: function(res){
                if(res.isSuccess){
                    notyf.success(res.message);
                    setTimeout(() => {
                        window.location.reload();
                    }, 1000);
                } else {
                    notyf.error(res.message || "Thất bại!");
                }
            },
            error: function(xhr){
                notyf.error("Có lỗi xảy ra khi gửi dữ liệu!");
            }
        })
    }
</script>
