@{
    ViewData["Title"] = "Bài thi";
    ViewData["ExamStart"] = "Hidden";
    var isSuccess = ViewBag.IsSuccess;
    var isEstimated = Model.Data?.IsEstimated;
}
@model ResponderData<ExamModel>
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {
    public string GetAntiXsrfRequestTokenChild()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<style>
    p{
        text-align: justify !important;
        text-justify: inter-word !important;
    }

    span {
        font-size: 16px;
    }
</style>
<div class="min-h-screen max-w-10xl flex items-center justify-center">

    <div class="max-w-full w-[90%] mt-8 bg-white rounded-2xl shadow-lg p-8 mt-[7rem] mx-4">
        <div class="z-[-1] fixed inset-0 bg-cover bg-center bg-[url('/img/background.jpg')]
            bg-black/40 bg-blend-darken">
        </div>
        <div style="max-height: 23rem;overflow: auto;" class="mb-4">
            <p class="paragraph-justify">
                @Html.Raw(@Model.Data?.Instructions.Replace("$${minute}", Model.Data.DurationMinutes.ToString()))
            </p>
        </div>
        <hr />
        @if (!Model.Data.IsComplete)
        {
            <div x-data="{ open: false }" style="justify-content:center" class="flex items-start mt-4">
                <button @@click="open = true" type="button" class="mr-2 gap-2 bg-blue-600 hover:bg-blue-400 text-white px-6 py-2 rounded-lg shadow-md transition">
                    Bắt đầu
                </button>
                <button type="button" onclick="window.location.href='/'" class="ml-2 gap-2 bg-gray-600 hover:bg-gray-400 text-white px-6 py-2 rounded-lg shadow-md transition">
                    Trở về
                </button>
                <div x-show="open"
                     x-cloak
                     @@keydown.escape.window="open = false">

                    <div x-show="open"
                         x-transition.opacity
                         class="fixed inset-0 bg-black/50 z-40"
                         @@click="open = false"></div>

                    <div x-show="open"
                         x-transition
                         class="fixed inset-0 z-50 flex items-center justify-center">

                        <div class="bg-white w-11/12 max-w-lg rounded-2xl shadow-lg p-5 relative">

                            <!-- NÚT ĐÓNG -->
                            <button type="button" @@click="open = false"
                                    class="absolute top-10 right-10 text-gray-400 hover:text-gray-600">
                                ✕
                            </button>

                            <!-- HEADER ĐÓNG KHUNG -->
                            <div class="mb-4 p-4 bg-gray-100 border border-gray-300 rounded-xl">
                                <h2 class="text-xl font-semibold text-gray-800">
                                    Bài thi trắc nghiệm
                                </h2>
                            </div>

                            <!-- NỘI DUNG -->
                            <div class="mb-6">
                                <b>Bạn có chắc rằng mình đã đọc xong toàn bộ hướng dẫn chưa?</b>
                                <p>Bạn sẽ không thể xem lại chúng sau khi bài trắc nghiệm bắt đầu.</p>
                            </div>

                            <hr />

                            <!-- BUTTON -->
                            <div class="flex justify-end mt-4">
                                <button type="button" onclick="start()"
                                        class="flex items-center gap-2 bg-blue-600 hover:bg-blue-600 text-white px-6 py-2 rounded-lg shadow-md transition">
                                    Bắt đầu
                                </button>

                                <button type="button" @@click="open = false"
                                        class="ml-4 flex items-center gap-2 bg-gray-600 hover:bg-gray-600 text-white px-6 py-2 rounded-lg shadow-md transition">
                                    Trở về
                                </button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        }

        else
        {
            <div class="flex items-start mt-4 justify-center">
                <span>Bạn đã hoàn thành hết lượt bài trắc nghiệm</span>
            </div>
            <div style="text-align: center;">
                <button type="button" onclick="window.location.href='/'" class="mt-4 gap-2 bg-gray-600 hover:bg-gray-400 text-white px-6 py-2 rounded-lg shadow-md transition">
                    Trở về
                </button>
            </div>
        }
    </div>


</div>

<script>
    $(document).ready(function() {
        if('@isSuccess' != 'True'){
            notyf.error("Có lỗi xảy ra khi tải bài thi!");
        }
        window.sessionStorage.clear();
        document.getElementById('footageBoxId').classList.add('d-none');
        $('.menu-item').addClass('d-none');
    });

    function start() {
        submitAjax({
            url: "/bai-thi",
            method: "POST",
            data: {},
            headers:{
                "RequestVerificationToken": '@GetAntiXsrfRequestTokenChild()'
            },
            success: function(res){
                if(res.isSuccess){
                    sessionStorage.setItem("examSessionId", res.data);
                    sessionStorage.setItem("isEstimated", '@isEstimated');
                    window.location.href = `/bai-thi/khoi-dong?sId=${res.data}`;
                } else {
                    notyf.error(res.message || "Thất bại!");
                }
            },
            error: function(xhr){
                notyf.error("Có lỗi xảy ra khi gửi dữ liệu!");
            }
        })
    }

</script>